<div id="timeline">
  <div class="loading" ng-show="busy">
    <span class="glyphicon glyphicon-refresh"><p>LOADING...</p></span>
  </div>
  <nav class="navbar navbar-default" role="navigation" >
    <button type="button" class="btn btn-default navbar-btn" title="Show main menu" ng-click="toggleMenu()">
      <div class="glyphicon glyphicon-th-large" ></div>
    </button>

    <h1>
      <a ng-if="timeline.feed" href="{{timeline.feed.htmlurl}}" target="_blank" title="Go to source web site">{{ timeline.title }}</a>
      <a ng-if="!timeline.feed" ng-click="refresh()" class="pointer" title="Click to refresh or press [r]">{{ timeline.title }}</a>
    </h1>

    <span class="hint">
      <ng-pluralize count="timeline.size"
        when="{'0': 'No article', 'one': '1 article', 'other': '{} articles'}">
      </ng-pluralize>
      <span ng-if="timeline.feed.status">
        // {{ timeline.feed.status }}
        // {{ timeline.feed.updateDate | fromNow }}
      </span>
    </span>

    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-th"></span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu pull-right" role="menu">
        <li ng-if="isReadable()" class="pointer">
        <a ng-click="markAllAsRead()">
          Mark all as read
        </a>
        </li>
        <li ng-if="isReadable()" class="divider"></li>

        <li><a>Sort by: [o]</a></li>
        <li>
        <a ng-click="order = 'ASC'" class="pointer">
          <span class="glyphicon {{order == 'ASC' && 'glyphicon-check' || 'glyphicon-unchecked'}}"></span>
          oldest
        </a>
        </li>
        <li>
        <a ng-click="order = 'DESC'" class="pointer">
          <span class="glyphicon {{order == 'DESC' && 'glyphicon-check' || 'glyphicon-unchecked'}}"></span>
          newest
        </a>
        </li>

        <li ng-if="timeline.feed" class="divider"></li>
        <li ng-if="timeline.feed"><a>Show: [v]</a></li>
        <li ng-if="timeline.feed">
        <a ng-click="show = 'new'" class="pointer">
          <span class="glyphicon {{show == 'new' && 'glyphicon-check' || 'glyphicon-unchecked'}}"></span>
          new articles
        </a>
        </li>
        <li ng-if="timeline.feed">
        <a ng-click="show = 'all'" class="pointer">
          <span class="glyphicon {{show == 'all' && 'glyphicon-check' || 'glyphicon-unchecked'}}"></span>
          all articles
        </a>
        </li>
      </ul>
    </div>
  </nav>

  <section class="content">
    <ul rn-carousel rn-carousel-buffered rn-carousel-watch rn-carousel-index="articleIndex">
      <li ng-repeat="article in articles">
      <article id="{{ article.id }}" ng-class="{'not-seen':isReadable() && !article.read}" class="article" ui-lazy-scroll>
        <header ng-if="!article.fake">
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <span class="glyphicon glyphicon-plus"></span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
              <li ng-if="!article.archRef" >
              <a ng-click="saveArticle(article)" class="pointer">
                <span class="glyphicon glyphicon-floppy-disk"></span>
                Save this article [s]
              </a>
              </li>
              <li ng-if="article.archRef" >
              <a ng-click="trashArticle(article)" class="pointer">
                <span class="glyphicon glyphicon-trash"></span>
                Trash this article [s]
              </a>
              </li>
              <li ng-if="isReadable() && article.read" >
              <a ng-click="keepUnRead(article)" class="pointer">
                <span class="glyphicon glyphicon-eye-close"></span>
                Keep it as unread [m]
              </a>
              </li>
              <li ng-if="isReadable() && !article.read" >
              <a ng-click="markAsRead(article)" class="pointer">
                <span class="glyphicon glyphicon-eye-open"></span>
                Mark it as read [m]
              </a>
              </li>
              <li>
              <a href="mailto:?subject={{article.title | escape}}&amp;body={{article.link | escape}}">
                <span class="glyphicon glyphicon-envelope"></span>
                Mail it
              </a>
              </li>
              <li>
              <a ng-click="viewQrcode(article)" class="pointer">
                <span class="glyphicon glyphicon-qrcode"></span>
                Show QR Code [q]
              </a>
              </li>
            </ul>
          </div>
          <h1>
            <a target="_blank" href="{{ article.link }}" title="Go to original article">{{ article.title }}</a>
          </h1>
          <span>
            <span class="glyphicon glyphicon-globe"></span>
            <a href="#timeline/{{ article.fid }}" title="Go to timeline">{{ article.meta.title }}</a>
            <span class="glyphicon glyphicon-time"></span>
            <time title="{{article.date | date}}">{{ article.date | fromNow }}</time>
          </span>
        </header>
        <div class="content {{article.fake && 'ending'}}">
          <a title="Previous article [p or <-]" class="prev" ng-click="prevArticle()" ng-show="articleIndex > 0">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a title="Next article [n or ->]" class="next" ng-click="nextArticle()" ng-show="articleIndex < articles.length - 1" >
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
          <div timeline-article="article.description">
          </div>
        </div>
      </article>
      </li>
    </ul>
  </section>
</div>

<script type="text/ng-template" id="templates/dialog/qrcode.html">
<div class="modal-header">
  <h3>View QR code</h3>
</div>
<div class="modal-body">
  <div style="text-align: center;">
    <qrcode size="160" text="{{ link }}"></qrcode>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">Ok</button>
</div>
</script>

