[Unit]
Description=Nunux reader discovery service
BindsTo=reader-server@%i.service

[Service]
Environment="GETPORT=docker port reader-server-%i 3000 | cut -d ':' -f 2"
RemainAfterExit=yes
ExecStart=/bin/sh -c "etcdctl set /vulcand/upstreams/up-reader/endpoints/e%i http://172.17.42.1:`eval $GETPORT`"
ExecStartPost=/usr/bin/etcdctl set /vulcand/hosts/reader.sandbox.nunux.org/locations/root/path "/"
ExecStartPost=/usr/bin/etcdctl set /vulcand/hosts/reader.sandbox.nunux.org/locations/root/upstream up-reader
ExecStop=/usr/bin/etcdctl rm /vulcand/upstreams/up-reader/endpoints/e%i

[X-Fleet]
X-ConditionMachineOf=reader-server@*.service
