[Unit]
Description=Nunux Reader Server
After=docker.service
Requires=docker.service redis.service

[Service]
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStart=/usr/bin/docker run --rm --name %p --env-file /media/data/reader/env.conf --link redis:db -P ncarlier/reader
ExecStop=/usr/bin/docker stop %p

[X-Fleet]
X-Conflicts=%p@*.service
