<div class="timeline">
  <header>
    <div class="toolbar">
      <button type="button" class="btn btn-small" title="{{order == 'ASC' && 'Sort by newest' || 'Sort by oldest'}}" ng-click="toggleSort()">
        <i class="{{order == 'ASC' && 'icon-chevron-up' || 'icon-chevron-down'}}"></i>
      </button>
      <button type="button" class="btn btn-small" title="Mark all as read" ng-show="isReadable()" ng-click="markAllAsRead()">
        <i class="icon-check"></i>
      </button>
      <button type="button" class="btn btn-small" title="{{isShowingAllItems && 'Show new items' || 'Show all items'}}" ng-show="haveAllItems" ng-click="toggleShow()">
        <i class="{{isShowingAllItems && 'icon-fire' || 'icon-eye-open'}}"></i>
      </button>
    </div>

    <h1>
      <a ng-show="timeline.feed" href="{{timeline.feed.htmlurl}}" target="_blank">{{ timeline.title }}</a>
      <a ng-show="!timeline.feed">{{ timeline.title }}</a>
    </h1>

    <span class="hint">
      <b>{{ timeline.size }}</b> unread articles
      <span ng-show="timeline.feed.status">
        // {{ timeline.feed.status }}
        // {{ timeline.feed.updateDate | fromNow }}
      </span>
    </span>
  </header>
  <section class="content" timeline="fetchTimeline()" timeline-scroll-distance="200" timeline-scroll-disabled="isEnding" timeline-read-enabled="isReadable()" timeline-read-handle="autoMarkAsRead">
    <article id="{{ article.id }}" ng-class="{'not-seen':isReadable() && !article.read}" ng-repeat="article in articles">
      <header>
        <time title="{{article.date}}">{{ article.date | fromNow }}</time>
        <h1>
          <i class="{{article.fold && 'icon-folder-close' || 'icon-folder-open'}}" ng-click="article.fold = !article.fold"></i>
          <a target="_blank" href="{{ article.link }}">{{ article.title }}</a>
        </h1>
        <span ng-show="!article.fold">
          From <a href="#timeline/{{ article.fid }}">{{article.meta.title }}</a>
          {{ article.author | prefix:'by' }}
        </span>
      </header>
      <div class="content" ng-show="!article.fold">
        <div timeline-article="article.description">
        </div>
      </div>
      <footer>
        <a title="Save this" ng-show="!article.saved" ng-click="saveArticle(article.id)">
          <i class="icon-bookmark" />
        </a>
        <a title="Trash this" ng-show="article.saved" ng-click="trashArticle(article.id)">
          <i class="icon-trash" />
        </a>
        <a title="Keep unread" ng-show="isReadable() && article.read" ng-click="keepUnRead(article.id)">
          <i class="icon-eye-close" />
        </a>
        <a title="Mark as read" ng-show="isReadable() && !article.read" ng-click="markAsRead(article.id)">
          <i class="icon-check" />
        </a>
        <a title="Mail this" href="mailto:?subject={{article.title | escape}}&amp;body={{article.link | escape}}">
          <i class="icon-envelope" />
        </a>
      </footer>
    </article>
    <article ng-show="isEnding">
      <h1 class="ending">-- You reach ground 0 --</h1>
    </article>
  </section>
</div>

