<div class="timeline">
  <div class="loading" ng-show="busy">
    <span class="glyphicon glyphicon-repeat"><p>LOADING...</p></span>
  </div>
  <header>
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-th"></span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu pull-right" role="menu">
        <li ng-show="isReadable()" class="pointer">
        <a ng-click="markAllAsRead()">
          Mark all as read
        </a>
        </li>
        <li ng-show="isReadable()" class="divider"></li>

        <li><a>Sort by:</a></li>
        <li>
        <a ng-click="order = 'ASC'" class="pointer">
          <span class="glyphicon {{order == 'ASC' && 'glyphicon-check' || 'glyphicon-unchecked'}}"></span>
          oldest
        </a>
        </li>
        <li>
        <a ng-click="order = 'DESC'" class="pointer">
          <span class="glyphicon {{order == 'DESC' && 'glyphicon-check' || 'glyphicon-unchecked'}}"></span>
          newest
        </a>
        </li>

        <li ng-show="timeline.feed" class="divider"></li>
        <li ng-show="timeline.feed"><a>Show:</a></li>
        <li ng-show="timeline.feed">
        <a ng-click="show = 'new'" class="pointer">
          <span class="glyphicon {{show == 'new' && 'glyphicon-check' || 'glyphicon-unchecked'}}"></span>
          new articles
        </a>
        </li>
        <li ng-show="timeline.feed">
        <a ng-click="show = 'all'" class="pointer">
          <span class="glyphicon {{show == 'all' && 'glyphicon-check' || 'glyphicon-unchecked'}}"></span>
          all articles
        </a>
        </li>
      </ul>
    </div>

    <h1>
      <div class="glyphicon glyphicon-th-large" onclick="$('#wrapper').toggleClass('open');" title="Show main menu"></div>
      <a ng-show="timeline.feed" href="{{timeline.feed.htmlurl}}" target="_blank" title="Go to source web site">{{ timeline.title }}</a>
      <a ng-show="!timeline.feed" ng-click="refresh()" class="pointer" title="Click to refresh">{{ timeline.title }}</a>
    </h1>

    <span class="hint">
      <b>{{ timeline.size }}</b> unread articles
      <span ng-show="timeline.feed.status">
        // {{ timeline.feed.status }}
        // {{ timeline.feed.updateDate | fromNow }}
      </span>
    </span>
  </header>
  <section>
    <ul rn-carousel rn-carousel-buffered rn-carousel-watch rn-carousel-index="articleIndex">
      <li ng-repeat="article in articles">
      <article id="{{ article.id }}" ng-class="{'not-seen':isReadable() && !article.read}" class="article" ui-lazy-scroll>
        <header ng-show="!article.fake">
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <span class="glyphicon glyphicon-plus"></span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
              <li ng-show="!article.saved" >
              <a ng-click="saveArticle(article)" class="pointer">
                <span class="glyphicon glyphicon-floppy-disk"></span>
                Save this article
              </a>
              </li>
              <li ng-show="article.saved" >
              <a ng-click="trashArticle(article)" class="pointer">
                <span class="glyphicon glyphicon-trash"></span>
                Trash this article
              </a>
              </li>
              <li ng-show="isReadable() && article.read" >
              <a ng-click="keepUnRead(article)" class="pointer">
                <span class="glyphicon glyphicon-eye-close"></span>
                Keep it as unread
              </a>
              </li>
              <li ng-show="isReadable() && !article.read" >
              <a ng-click="markAsRead(article)" class="pointer">
                <span class="glyphicon glyphicon-eye-open"></span>
                Mark it as read
              </a>
              </li>
              <li>
              <a href="mailto:?subject={{article.title | escape}}&amp;body={{article.link | escape}}">
                <span class="glyphicon glyphicon-envelope"></span>
                Mail it
              </a>
              </li>
              <li>
              <a href="#">
                <span class="glyphicon glyphicon-qrcode"></span>
                Show QR Code
              </a>
              </li>
            </ul>
          </div>
          <h1>
            <a target="_blank" href="{{ article.link }}" title="Go to original article">{{ article.title }}</a>
          </h1>
          <span>
            <span class="glyphicon glyphicon-globe"></span>
            <a href="#timeline/{{ article.fid }}" title="Go to timeline">{{ article.meta.title }}</a>
            <span class="glyphicon glyphicon-time"></span>
            <time title="{{article.date | date}}">{{ article.date | fromNow }}</time>
          </span>
        </header>
        <div class="content {{article.fake && 'ending'}}">
          <a title="Previous article [p or <-]" class="prev" ng-click="prevArticle()" ng-show="articleIndex > 0">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a title="Next article [n or ->]" class="next" ng-click="nextArticle()" ng-show="articleIndex < articles.length - 1" >
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
          <div timeline-article="article.description">
          </div>
        </div>
      </article>
      </li>
    </ul>
  </section>
</div>
