<!DOCTYPE html>
<html>
  <head>
  <title>NUNUX Reader</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="icons/favicon.png">
</head>
<body>
  <h1>Error</h1>
  <p><%= error %></p>
</body>
</html>
