<!DOCTYPE html>
<html>
  <head>
  <title><%= info.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<%= info.description %>" />
  <link rel="shortcut icon" href="icons/favicon.png">
  <link rel="stylesheet" href="stylesheets/home.css" />
</head>
<body>
  <a href="https://github.com/ncarlier"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png" alt="Fork me on GitHub"></a>
  <header>
    <div class="login">
      <a href="#loginModal" role="button" class="btn" data-toggle="modal">Sign in</a>
    </div>
    <h1>NUNUX <%= info.name %></h1>
  </header>
  <section class="marketing">
    <ul >
      <li class="icon icon-meter">
        <span>Faster than light</span>
      </li>
      <li class="icon icon-responsive">
        <span>Responsive</span>
      </li>
      <li class="icon icon-opensource">
        <a title="Under the GPLv3 licence" href="http://www.gnu.org/licenses/gpl.html" target="_blank">Open Source</a>
      </li>
    </ul>
  </section>
  <section class="screenshots">
    <img alt="Screenshots" src="images/screenshots.png"/>
  </section>
  <section class="features">
    <h1>Features</h1>
    <ul>
      <li>Faster than light thanks to <a href="http://redis.io/" target="_blank">Redis</a> and <a href="http://nodejs.org/" target="_blank">Node.js</a></li>
      <li>Dynamic GUI thanks to <a href="http://angularjs.org/" target="_blank">AngularJS</a></li>
      <li>Responsive Web Design</li>
      <li>Login with <a href="https://developers.google.com/accounts/docs/OpenID" target="_blank">Google OpenID</a> or <a href="http://www.mozilla.org/en-US/persona/" target="_blank">Mozilla Persona</a></li>
      <li>OPML import/export</li>
      <li>Manage subscriptions</li>
      <li>Auto read article on scroll</li>
      <li>Save articles</li>
      <li>Keep article as not read</li>
      <li>Powerfull reactive aggregator daemon</li>
      <li>Support PubSubHubbud</li>
      <li>RESTFul JSON API</li>
      <li>99% Javascript!</li>
    </ul>
  </section>
  <footer>

  </footer>
  <div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Sign in</h4>
        </div>
        <div class="modal-body">
          <p><i>Don't try to click if you are not invited.</i> -- The Bouncer</p>
          <a href="/auth/google" title="Sign in with your Google account." id="google">
            <img src="images/sign-in-with-google.png" alt="Sign in with Google"/>
          </a>
          <strong> or </strong>
          <a>
            <img src="images/sign-in-with-persona.png" alt="Sign in with Mozilla Persona"/>
          </a>
        </div>
      </div>
    </div>
  </div>
  <form action="/auth/browserid" method="post" style="display:none;">
    <input type="text" name="assertion"/>
  </form>

  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/bootstrap/bootstrap.min.js"></script>
  <script src="https://login.persona.org/include.js"></script>
  <script>
$("#browserid").click(function(){
  navigator.id.get(function(assertion) {
    if (assertion) {
      $("input").val(assertion);
      $("form").submit();
    } else {
      location.reload();
    }
  });
});

(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', '<%= gaId %>', 'nunux.org');
ga('send', 'pageview');
  </script>
</body>
</html>
