<article id="<%= id %>" class="not-seen">
  <header>
    <time><%= date %></time>
    <h1><a target="_blank" href="<%= link %>"><%= title %></a></h1>
    <span>
      From <a href="#timeline/<%= fid %>"><%= meta.title %></a>
      <% if (author) { %>by <%= author %><% } %>
    </span>
  </header>
  <div class="content">
    <%= description %>
    <% if (enclosures && enclosures.length > 0) { %>
    <hr />
    <%
    var media = enclosures[0];
    if (media.type && media.type.substring(0, 6) == "audio/") {
    %>
    <audio src="<%= media.url %>" preload="none" controls ></audio>
    <a href="<%= media.url %>" target="_blank">(popup)</a>
    <br/>
    <%
    }
    }
    %>
  </div>
  <footer>
    <% if (isReadable) { %>
    <label class="checkbox">
      <input type="checkbox" id="<%= id %>/keep" class="keep">Keep unread
    </label>
    &nbsp;
    <% } %>
    <label class="checkbox">
      <input type="checkbox" id="<%= id %>/save" class="save" <% if (!isReadable) { %>checked<% } %>>Save this
    </label>
  </footer>
</article>

