<article id="<%= id %>">
  <header>
    <time><%= date %></time>
    <h1><a target="_blank" href="<%= link %>"><%= title %></a></h1>
    <span>From <%= meta.title %> by <%= author %></span>
  </header>
  <div><%= description %></div>
  <footer>
    <% if (isTimeline) { %>
    <label class="checkbox">
      <input type="checkbox" id="<%= id %>/keep" class="keep">Keep unread
    </label>
    &nbsp;
    <% } %>
    <label class="checkbox">
      <input type="checkbox" id="<%= id %>/save" class="save" <% if (!isTimeline) { %>checked<% } %>>Save this
    </label>
  </footer>
</article>

