<div id="logo">
  <h1>reader</h1>
</div>

<nav id="nav">
  <ul>
    <li>
      <i class="icon-th icon-white"></i>
      <a href="#timeline/global" class="menu-global-timeline">
        All items <span class="size badge"></span>
      </a>
    </li>
    <li>
      <i class="icon-bookmark icon-white"></i>
      <a href="#timeline/archive" class="menu-archive-timeline">
        Saved items <span class="size badge"></span>
      </a>
    </li>
    <li>
      <i class="icon-wrench icon-white"></i>
      <a href="#manage" class="menu-manage">Manage</a>
    </li>
  </ul>
</nav>

<!-- Search -->
<section class="is-search" style="display: none;">
  <form method="post" action="#">
    <input type="text" class="text" name="search" placeholder="Search" />
  </form>
</section>

<!-- Subscriptions -->
<nav class="is-subscriptions">
  <header>
    <h2>Subscriptions <span class="size"></span></h2>
  </header>
  <ul>
  </ul>
</nav>

<!-- Copyright -->
<div id="copyright">
  <p>&copy; 2013 NUNUX.org</p>
</div>


