<div id="logo">
  <h1>READER</h1>
</div>

<nav id="nav">
  <ul>
    <li><a href="#timeline/global" class="menu-global-timeline">All items <span class="size badge"></span></a></li>
    <li><a href="#timeline/archive" class="menu-archive-timeline">Saved items <span class="size badge"></span></a></li>
    <li><a href="#manage" class="menu-manage">Manage</a></li>
  </ul>
</nav>

<!-- Search -->
<section class="is-search" style="display: none;">
  <form method="post" action="#">
    <input type="text" class="text" name="search" placeholder="Search" />
  </form>
</section>

<!-- Subscriptions -->
<section class="is-subscriptions">
  <header>
    <h2>Subscriptions <span class="size"></span></h2>
  </header>
  <ul>
  </ul>
</section>

<!-- What's new zone -->
<section class="is-text-style1">
  <div class="inner">
    <p>
    <strong>What's new:</strong> A fully responsive HTML5
    template designed by <a href="http://n33.co/">AJ</a> and tweak by me :)
    </p>
  </div>
</section>

<!-- Copyright -->
<div id="copyright">
  <p>&copy; 2013 NUNUX.org</p>
</div>


