<header>
  <h1>All items</h1>
  <div class="toolbar">
    <button type="button" class="btn btn-small sort-items" title="Sort by oldest/newest">
      <i class="icon-chevron-up"></i>
      <span>Sort by oldest</span>
    </button>
    <button type="button" class="btn btn-small mark-items" title="Mark all as read">
      <i class="icon-check"></i>
      <span>Mark all as read</span>
    </button>
    <button type="button" class="btn btn-small show-items" title="Show new/all items">
      <i class="icon-eye-open"></i>
      <span>Show all items</span>
    </button>
  </div>
</header>
<section class="content">
</section>

