
<div class="toolbar">
  <button type="button" class="btn btn-small sort-items" title="<%= sortLabel %>">
    <i class="<%= sortClass %>"></i>
  </button>
  <% if (isReadable) { %>
  <button type="button" class="btn btn-small mark-items" title="Mark all as read">
    <i class="icon-check"></i>
  </button>
  <% } %>
  <% if (hasAllItems) { %>
  <button type="button" class="btn btn-small show-items" title="<%= showItemsLabel %>">
    <i class="<%= showItemsClass %>"></i>
  </button>
  <% } %>
</div>

<% if (feed) { %>
  <h1><a href="<%= feed.htmlurl %>" target="_blank"><%= title %></a></h1>
<% } else { %>
  <h1><%= title %></h1>
<% } %>

<span class="hint">
  <b><%= size %></b> <%= sizeLabel %>
  <% if (feed && feed.statusLabel) { %>
  // <i title="<%= feed.statusDesc %>"><%= feed.statusLabel %></i>
    // <%= feed.updatedFrom %>
  <% } %>
</span>
