html {
	margin: 0;
	padding: 0;
}


body {
  color: #000;
  background: #fff;
  font-size: 90%;
  font-family: arial,sans-serif;
  > header {
    position: fixed;
    padding: 5px;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
    margin-bottom: 0;
    background-color: #999;
    h1 {
      margin: 0;
    }
  }
  > .container {
    position: absolute;
    padding: 0;
    top: 45px;
    right: 3px;
    bottom: 0;
    left: 0;
    > aside {
      padding: 5px;
      background-color: #999;
      width: 200px;
      position: absolute;
      margin: 0;
      right: 0;
      left: 0;
      bottom: 0;
      top: 0;
    }
    > section {
      padding: 5px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 220px;
      overflow: scroll;
      overflow-x: hidden;
    }
  }
}

a {
  color: #15c;
}


article {
  border: 1px solid #ddd;
  border-left-color: #4d90f0;
  box-shadow: 0 0 4px #e3e5eb;
  padding: 5px;
  margin: 5px 0 10px;
  header {
    span {
      float: right;
    }
    h1 {
      font-weight: bold;
      font-size: 140%;
      margin: 0;
      max-width: 650px;
      line-height: 16px;
      height: 16px;
      display: block;
      a {
        text-decoration: none;
      }
    }
  }
  > p {
    max-width: 650px;
    text-align: justify;
  }
}
