@import "basic.less";

/*********************************************************************************/
/* Section/Article Types                                                         */
/*********************************************************************************/

.is-subscriptions {
  li {
    border-top: solid 1px rgba(0,0,0,0.25);
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.075);
    padding: 0.5em 0 0.5em 0;
  }
  li:first-child {
    border-top: 0;
    box-shadow: none;
    padding-top: 0;
  }
  li:last-child {
    padding-bottom: 0;
  }
}

.is-search {
  form {
    position: relative;
  }
  input {
    position: relative;
    padding-right: 34px;
  }
  form:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 4px;
    margin-top: -12px;
    width: 24px;
    height: 24px;
    background-image: url('../images/sprites.png');
    background-position: -96px 0px;
  }
}

.is-text-style1 {
  .inner {
    position: relative;
    background-color: #272E39;
    background-color: rgba(0,0,0,0.15);
    border-radius: 0.4em;
    padding: 1.25em;
    box-shadow: 0 0 0 1px rgba(255,255,255,0.05), inset 0 0 0.25em 0 rgba(0,0,0,0.25);
  }
}

/*********************************************************************************/
/* Wrapper                                                                       */
/*********************************************************************************/

#wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

#nav {
  > ul > li > ul {
    display: none;
  }
  li {
    border-top: solid 1px rgba(0,0,0,0.25);
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.075);
    padding: 0.5em 0 0.5em 0;
    a {
      display: block;
      padding: 0.4em 1em 0.4em 1em;
      text-decoration: none;
      border-radius: 0.4em;
      outline: 0;
      -moz-transition: background-color .25s ease-in-out, color .25s ease-in-out;
      -webkit-transition: background-color .25s ease-in-out, color .25s ease-in-out;
      -o-transition: background-color .25s ease-in-out, color .25s ease-in-out;
      -ms-transition: background-color .25s ease-in-out, color .25s ease-in-out;
      transition: background-color .25s ease-in-out, color .25s ease-in-out;
    }

  }
  li:first-child {
    border: 0;
    box-shadow: none;
    padding-top: 0;
  }
  li:last-child {
    padding-bottom: 0;
  }
  li.current_page_item a {
    background-color: #272E39 !important;
    background-color: rgba(0,0,0,0.15) !important;
    box-shadow: 0 0 0 1px rgba(255,255,255,0.05), inset 0 0 0.25em 0 rgba(0,0,0,0.25);
    font-weight: 700;
    color: #fff;
  }
  li:hover a {
    background-color: rgba(200,225,255,0.1);
    color: #fff;
  }
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo {
  background-color: #c94663;
  background-image: url('../images/bg1.png');
  padding: 1.75em 0.5em 1.75em 0.5em;
  border-radius: 0.4em;
  text-align: center;
  box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.15), 0 0.025em 0.15em 0em rgba(0,0,0,0.25);
  h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 2em;
    letter-spacing: 0.1em;
  }
}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

#sidebar {
  color: #929da4;
  text-shadow: -1px -1px 0px rgba(0,0,0,0.5);
  background: #364050 url('../images/bg1.png');
  box-shadow: inset -1px 0 0 0 rgba(255,255,255,0.15), inset -0.1em 0 0.5em 0 rgba(0,0,0,0.25);
  width: 14em; /* = whatever you want */
  height: 100%;
  padding: 3em 1.35em 1em 1.15em;
  overflow: auto;
  form input,
  form select,
  form textarea {
    border: 0;
  }
  section,
  nav {
    position: relative;
  }
  section:before,
  nav:before {
    content: '';
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-color: #171E29;
    border-color: rgba(0,0,0,0.25);
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.075), 0px 1px 0px 0px rgba(255,255,255,0.075);
    display: block;
  }
  strong, b {
    color: #fff;
  }
  a {
    color: #d4dde0;
      white-space: nowrap;
  }
  h2, h3, h4, h5, h6 {
    color: #fff;
  }
  header {
    margin: 0 0 1.25em 0;
  }
  section,
  nav {
    margin: 2em 0 0 0;
    font-size: 0.9em;
  }
  section:before,
  nav:before {
    height: 0.5em;
    margin: 0 0 2em 0;
  }
  li {
    text-overflow: ellipsis;
    overflow: hidden;
  }
  ul {
    margin: 0;
    padding: 0;
  }

}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

#content {
  /*position: relative;
  height: 100%;*/
  position: absolute;
  bottom: 0;
  top: 0;
  width: 100%;
  /*box-shadow: 0 0 0.25em 0em rgba(0,0,0,0.25);*/
}

#content:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/bg2.png');
  opacity: 0.5;
}

#content-inner {
  position: relative;
  z-index: 1;
  height: 100%;
  max-width: 900px;
}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

#copyright {
  p {
    opacity: 0.75;
  }
  a {
    color: inherit !important;
  }
}

#copyright:before {
  content: '';
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-color: #171E29;
  border-color: rgba(0,0,0,0.25);
  box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.075), 0px 1px 0px 0px rgba(255,255,255,0.075);
  display: block;
}

/*********************************************************************************/
/* Timeline                                                                      */
/*********************************************************************************/
.timeline {
  width: 100%;
  height: 100%;
  > header {
    height: 45px;
    margin: 0;
    padding: 10px;
    background-color: #fff;
    border-bottom: 2px solid #ddd;
    h1 {
      margin: 0;
      float: left;
      font-size: 24px;
    }
    .toolbar {
      float: right;
    }
  }
  > .content {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: 45px;
    overflow: auto;
    width: 100%;
    > article {
      background-color: #fff;
      border: 1px solid #ddd;
      border-left-width: 5px;
      margin: 0 0 20px 0;
      &.seen {
        border-left-color: #bbb;
      }
      &.not-seen, &.kept-not-seen {
        border-left-color: #4d90f0;
      }
      header {
        padding: 10px;
        time {
          float: right;
          color: #666;
          font-size: 90%;
        }
        span {
          color: #666;
          display: block;
          font-size: 90%;
        }
        h1 {
          font-weight: bold;
          font-size: 120%;
          margin: 5px 0;
          max-width: 650px;
          line-height: 16px;
          height: 16px;
          display: inline;
          a {
            text-decoration: none;
          }
        }
      }
      > div {
        padding: 10px;
        max-width: 650px;
        text-align: justify;
        overflow: auto;
        img {
          max-width: 100%;
        }
        pre {
          white-space: pre-line;
        }
      }
      footer {
        padding: 5px;
        background-color: #fafafa;
        color: #666;
        border-top: 1px solid #ebebeb;
        label {
          display: inline-block;
          margin: 0;
          cursor: pointer;
        }
      }
    }
  }
}

/*********************************************************************************/
/* Managee                                                                       */
/*********************************************************************************/
.manage {
  width: 100%;
  height: 100%;
  background-color: #fff;
  > header {
    padding: 10px;
    margin: 0;
    border-bottom: 2px solid #ddd;
    h1 {
      margin: 0;
      font-size: 24px;
    }
  }
  > .content {
    overflow: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: 63px;
  }
}

