/*********************************************************************************/
/* Manage                                                                        */
/*********************************************************************************/
#manage {
  width: 100%;
  height: 100%;
  position: relative;
  > section {
    overflow: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: @r-topnav-height;
    width: 100%;
    padding: 10px;
    .row {
      margin: 0;
    }
    table {
      a {
        word-break: break-all;
      }
    }
    .glyphicon-ok-sign {
      color: #5CB85C;
    }
    .glyphicon-remove-sign {
      color: #D9534F;
    }
    .glyphicon-info-sign {
      color: #999;
    }
    .glyphicon-warning-sign {
      color: orange;
      cursor: help;
    }
  }
  td {
    border: none !important;
    &.feed-status {
      font-size: 22px;
      text-align: center;
      padding-top: 15px;
      .glyphicon {
        cursor: help;
      }
    }
  }
}

.flag {
  font-size: 0.8em;
  padding: 1px 4px;
  font-variant: small-caps;
  font-weight: bold;
}

