[Unit]
Description=Nunux Reader cleaning job
After=redis.service
Requires=docker.service redis.service
PartOf=reader-server.service

[Install]
WantedBy=multi-user.target

[Service]
Nice=19
IOSchedulingClass=2
IOSchedulingPriority=7
ExecStart=/usr/bin/docker run --rm --name %p \
    --env-file /etc/environment \
    --env-file /etc/default/reader \
    --env-file /etc/default/reader_custom \
    --link redis:redis \
    ncarlier/reader run db-cleaner
